<% include  ../partials/app_header %>
<section id="app-preview">
	<div class="container">
		<div class="col-sm-4 col-sm-offset-4">
			<div id="mobileContainer">
				<div id="mobileNotifHeader">
					<ul class="list-unstyled text-right">
						<li><i class="material-icons">&#xE63E;</i></li>
						<li><i class="material-icons">&#xE1C8;</i>;</i></li>
						<li><i class="material-icons">&#xE192;</i></li>
					</ul>
				</div>
				<div id="appNav">
					<span id="postTitle"></span>
				</div>
				<div id="imageContainer">
				</div>	
				<div id="contentBody">
				</div>	
			</div>
		</div>
	</div>
</section>

<% include ../partials/vendors %>
<script type="text/javascript" src="/js/app_preview.js"></script>
<% include ../partials/footer %>