<% include  ../partials/app_header %>
<% include  ../partials/app_nav %>

<div class="main-content">
	<% include  ../partials/sidebar %>

	<div id="page-content-wrapper">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-8">
					<div class="panel panel-default">
						<div class="panel-heading">
							<span>Area of Response</span>
						</div>
						<div class="panel-body" id="dash-map-container">
							<div id="map"></div>
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading">
							<span>Emergency Stats</span>
						</div>
						<div class="panel-body" id="dash-emergency-container">
							<div id="emergencyStats"></div>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="panel panel-default">
						<div class="panel-heading">
							<span>Recent Reports</span>
						</div>
						<div class="panel-body">
							<div class="list-group" id="recentContainer">
								  <div class="row-content">
								    <p class="list-group-item-text"><a href="/admin/reports" id="view-reports">View More</a></p>
								  </div>
							</div>
							<div class="list-group-separator"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<% include ../partials/vendors %>
<script type="text/javascript" src="/js/dashboard.js"></script>
<% include ../partials/footer %>

