<% include  ../partials/app_header %>
<% include  ../partials/app_nav %>

<div class="main-content">
	<% include  ../partials/sidebar %>

	<div id="page-content-wrapper">
		<div class="container-fluid">
			<div class="row">
				<div id="myMap"></div>
			</div>
		</div>
	</div>
	
</div>
<% include ../partials/vendors %>
<script type="text/javascript" src="/js/responsemap.js"></script>
<% include ../partials/footer %>

