#annoucements{
    #tblContainer{
        padding: 20px 40px;
        #annoucementsTbl{
            tr{
                transition: all .5s;
                &.selected{
                    background: $grey;
                    color:$white;
                }
            }
               
        }
    }
}