.action-footer{
	position: fixed;
    left: 0;
    right: 0;
    z-index: 999;
    bottom: 0;
    text-align: right;
	@media only screen and (min-width : 768px) {
		padding: 20px;
	}
    .btn-fab{
    	background: $yellow-dark !important;
    	margin-right: 20px;
    }
}


#myMap{
    min-height: 100vh;
}

table{
    th, td{
        text-align: center;
        vertical-align: center;
    }
}


#emergencyPerDay, #emergencyTypes, #emergencyBar, #reportTblContainer{
    height: 350px;
}

#reportTblContainer{
    overflow:scroll;
    overflow-x: hidden;
}

#view-reports{
    display: block;
    text-align: center;
    margin-top: 15px;
    font-size: 1.6rem;
    font-weight: bold;
}



.panel-default{
    .panel-heading{
        background: $black !important;
        color:$yellow;
        span{
            font-weight: bold;
            font-size: 1.8rem;
        }
    }
}