<section id="follow">
	<div class="container text-center">
		<h2>Follow us on</h2>
		<ul class="list-unstyled" id="social-media">
			<li><img src="/img/ig.png"></li>
			<li><img src="/img/twitter.png"></li>
			<li><img src="/img/fb.png"></li>
			<li><img src="/img/youtube.png"></li>
			<li><img src="/img/playstore.png"></li>
		</ul>
	</div>
</section>
<footer>
	<div class="container">
		<div class="row">
			<div class="col-sm-6 text-center">
				<span id="copyright">&#169;2017 Tuktukan Alert App</span>
			</div>
			<div class="col-sm-6 text-center">
				<ul class="list-unstyled" id="footer-nav">
					<li><a href="/">Home</a></li>
					<li><a href="/faq">FAQ</a></li>
					<li><a href="">Contact</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>