<div id="sidebar-wrapper">
		<ul class="sidebar-nav">
            <li class="side-bar"><span>Navigation</span></li>
            <% if(user.role == ROLES.ADMIN) { %>
                <li class="navigation"><a href="/admin/dashboard"><i class="material-icons">&#xE871;</i> &nbsp;Dashboard</a></li>
            <% } %>


            <% if(user.role == ROLES.ADMIN) { %>
               <li class="navigation"><a href="/admin/reports"><i class="material-icons">&#xE896;</i> &nbsp;Reports Listing</a></li>             
            <% } %> 
           
           <% if(user.role == ROLES.ADMIN) { %>
                <li class="navigation"><a href="/admin/stats"><i
                class="material-icons">&#xE918;</i> &nbsp;Emergency Stats</a></li>
           <% } %> 
           <% if(user.role == ROLES.ADMIN) { %>
                <li class="navigation"><a href="/admin/annoucements"><i class="material-icons">&#xE0C9;</i> &nbsp;Annoucements</a></li>                 
           <% } %> 
            
            <li class="navigation"><a href="/admin/map"><i class="material-icons">&#xE55F;</i> &nbsp;Map</a></li>
            <% if(user.role == ROLES.ADMIN) { %>
                    <li class="navigation"><a href="/admin/security_team"><i class="material-icons">&#xE32A;</i> &nbsp;Security Team</a></li>
            <% } %> 
          
        </ul>
</div>

