<% include ./partials/header %>
<% include ./partials/nav %>
<section id="faq">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-1">
				<h1>Frequently Ask Questions</h1>

				<div class="form-group">
					<span class="questions">Q: How alert app send emergency?</span>
					<ul class="list-unstyled">
						<li class="answers">A: You can declare an emergency manualy</li>
						<li class="answers">A: You just need to go to emergency section and shake your device</li>
					</ul>
				</div>

				<div class="form-group">
					<span class="questions">Q: What is being sent during an emergency declaration?</span>
					<ul class="list-unstyled">
						<li class="answers">A: Your current location</li>
						<li class="answers">A: Your name and address</li>
					</ul>
				</div>


				<div class="form-group">
					<span class="questions">Q: What happens when an emergency is sent?</span>
					<ul class="list-unstyled">
						<li class="answers">A: Response team will get an emergency notification</li>
						<li class="answers">A: Your current location will be mapped and the team will be able to see your sent information</li>
						<li class="answers">Scouting personel will be sent and assess the emergency</li>
					</ul>
				</div>

				<div class="form-group">
					<span class="questions">Q: What happens when an emergency is sent?</span>
					<ul class="list-unstyled">
						<li class="answers">A: Response team will get an emergency notification</li>
						<li class="answers">A: Scouting personel will be sent and assess the emergency</li>
					</ul>
				</div>

				<div class="form-group">
					<span class="questions">Q: Is my privacy protected?</span>
					<ul class="list-unstyled">
						<li class="answers">A: Your name, address and other information you provided specially your location will be encrypted and kept private.</li>
						<li class="answers"A: We collect the emergency happens to help us in decision making and make us better in responding an emergency</li>
					</ul>
				</div>

				<div class="form-group">
					<span class="questions">Q: What happens if false alarm happens</span>
					<ul class="list-unstyled">
						<li class="answers">A: Response team would rather have false alarm anytime then not protect a citizen in an emergency.</li>
						<li class="answers">A: Response team will able to track the person who sent the false alarm and serve the equivalent penalty</li>
					</ul>
				</div>

				<div class="form-group">
					<span class="questions">Q: Does Alert App work in other barangay or cities?</span>
					<ul class="list-unstyled">
						<li class="answers">A: Theoreticaly yes, because you can send anywhere but the scope of the response team is exclusive only for the citizen of barangay tuktukan</li>
						<li class="answers">A: In case of emergency and you are in other area, the response team will try to communicate with the barangay hall nearest to your location to get a help but it is not guaranteed. </li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<% include ./partials/footer_section %>
<% include ./partials/vendors %>
<% include ./partials/footer %>
