<% include ./partials/header %>
<% include ./partials/nav %>

<section id="hero">
	<div class="container">
		<h1 class="text-center">Tuktukan Alert Application</h1>
		<h2 class="text-center">Making <strong>safeness</strong> and <strong>preparedness</strong> as a lifestyle</h2>
			<div class="col-sm-10 col-sm-offset-1" id="hero-text-container">
				<span id="hero-text">
					Tuktukan alert app aims to make <strong>preparedness</strong> part of the resident's lifestyle by <strong>empowering community</strong> to respond better in times of <strong>emergency</strong>.
				</span>
			</div>
	</div>
</section>
<section id="shake-it">
	<div class="container text-center">
		<h2>Need a <strong>help</strong> ? All you need to do is <strong>shake</strong> it</h2>
	</div>
</section>
<section id="about">
	<div class="container">
		<div class="row">
			<div class="col-sm-6" id="about-container">
				<h2>Safety and Preparedness Tool</h2>
				<p>
					A Barangay News Portal App will be a lot of help to the community and also to its citizens. This app will post alerts and announcements from the Barangay to its residents, and update them time to time of current situations especially during emergencies, natural calamities or crime-related situations. An online solution which targets disaster and emergency preparedness  and provides real-time updates.
				</p>
			</div>
			<div class="col-sm-6 text-center" id="phone-container">
				<span id="help">Help!</span>
				<img src="/img/phone.png" class="animated shake infinite ">
			</div>
		</div>
	</div>
</section>
<section id="get">
	<div class="container">
		<h2>Be <strong>prepared</strong> be <strong>safe!</strong></h2>
		<a href="#" class="btn btn-default btn-lg pull-right">Get it now</a>
	</div>
</section>

<% include ./partials/footer_section %>
<% include ./partials/vendors %>
<% include ./partials/footer %>
