.navbar-default {
  background: #212121 !important;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  .navbar-default #logo-container {
    display: inline-block;
    padding: 15px 0px;
    text-decoration: none;
    margin-right: 50px; }
    .navbar-default #logo-container span {
      font-weight: bold;
      color: #F9A825;
      font-size: 1.8rem; }
    .navbar-default #logo-container img {
      margin-right: 15px;
      width: 40px; }
  .navbar-default .nav li a {
    font-size: 1.8rem;
    line-height: 28px; }
  .navbar-default #page-nav {
    text-transform: capitalize; }
  .navbar-default #navNotif .badge-notif {
    background: #FF1744;
    position: relative;
    padding: 2px;
    width: 18px !important;
    height: 18px !important;
    border-radius: 15px;
    top: -13px;
    left: -13px; }

#signin-nav {
  padding: 5px 0px;
  background: #ECEFF1;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  #signin-nav img {
    width: 50px; }

#login-section #login-container {
  padding: 50px 30px; }

#login-section #marketing {
  color: #78909C;
  font-weight: bold;
  font-size: 1.8rem; }

#login-section ul {
  padding-top: 20px; }
  #login-section ul li {
    margin-bottom: 15px; }
    #login-section ul li a {
      color: #F9A825;
      font-weight: bold;
      font-size: 1.8rem; }

#login-section #login-panel .panel-heading {
  background: #fff !important;
  border-bottom: 1px solid #ECEFF1; }
  #login-section #login-panel .panel-heading span {
    font-size: 2.4rem; }

#login-section #login-panel .panel-body {
  padding: 20px 20px; }
  #login-section #login-panel .panel-body label {
    font-weight: bold; }
    #login-section #login-panel .panel-body label.error {
      color: #FF1744; }
  #login-section #login-panel .panel-body #signin-btn {
    background: #4CAF50;
    color: #ECEFF1; }

#login-footer {
  border-top: 1px solid #e1e1e1;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 10px 0px; }
  #login-footer ul {
    margin: 0; }
    #login-footer ul li {
      display: inline-block;
      margin-right: 20px; }
      #login-footer ul li a {
        color: #78909C; }

#page-content-wrapper #dash-map-container {
  padding: 0; }
  #page-content-wrapper #dash-map-container #map {
    min-height: 350px;
    background: #78909C; }

#page-content-wrapper #dash-emergency-container {
  padding: 0; }
  #page-content-wrapper #dash-emergency-container #emergencyStats {
    min-height: 350px;
    background: #78909C; }

#app-preview .container {
  padding: 40px 0px; }
  #app-preview .container #mobileContainer {
    background: #78909C;
    height: 550px;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
    #app-preview .container #mobileContainer #mobileNotifHeader {
      background: #FFEB3B; }
      #app-preview .container #mobileContainer #mobileNotifHeader ul {
        margin: 0;
        padding: 2px 2px 1px 1px; }
        #app-preview .container #mobileContainer #mobileNotifHeader ul li {
          display: inline-block; }
    #app-preview .container #mobileContainer #appNav {
      background: #F9A825;
      min-height: 30px;
      padding: 20px; }
      #app-preview .container #mobileContainer #appNav #postTitle {
        font-weight: bold;
        color: #212121;
        font-size: 1.8rem; }
    #app-preview .container #mobileContainer #imageContainer {
      height: 250px;
      overflow: hidden; }
      #app-preview .container #mobileContainer #imageContainer img {
        width: 360px;
        height: 250px;
        object-fit: cover; }
    #app-preview .container #mobileContainer #contentBody {
      background: #ECEFF1;
      height: 200px;
      position: relative;
      padding: 20px;
      text-align: justify;
      font-size: 1.6rem;
      box-shadow: inset 0 -100px 180px -80px #263238; }

#annoucements #tblContainer {
  padding: 20px 40px; }
  #annoucements #tblContainer #annoucementsTbl tr {
    transition: all .5s; }
    #annoucements #tblContainer #annoucementsTbl tr.selected {
      background: #78909C;
      color: #ECEFF1; }

.action-footer {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
  bottom: 0;
  text-align: right; }
  @media only screen and (min-width: 768px) {
    .action-footer {
      padding: 20px; } }
  .action-footer .btn-fab {
    background: #F9A825 !important;
    margin-right: 20px; }

#myMap {
  min-height: 100vh; }

table th, table td {
  text-align: center;
  vertical-align: center; }

#emergencyPerDay, #emergencyTypes, #emergencyBar, #reportTblContainer {
  height: 350px; }

#reportTblContainer {
  overflow: scroll;
  overflow-x: hidden; }

#view-reports {
  display: block;
  text-align: center;
  margin-top: 15px;
  font-size: 1.6rem;
  font-weight: bold; }
